streamlit==1.44.1
pandas==2.2.3
geopandas==1.0.1
scikit-learn==1.6.1
seaborn==0.13.2
plotly==6.0.1
geoplot==0.5.1
folium==0.14.0
pydeck==0.8.0
torch==2.1.0
transformers
matplotlib
geopandas
numpy
fiona
rasterio
tf-keras
hf_xet
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
numpy==1.24.3
spacy==3.7.2
thinc==8.2.2
cython
pyproject-hooks
