pandas
streamlit
torch
transformers
matplotlib
geopandas
numpy
fiona
rasterio
seaborn
tf-keras
hf_xet
scikit-learn
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
numpy==1.24.4
spacy==3.7.2
thinc==8.2.2
cython
pyproject-hooks
